@{
    ViewBag.Title = "MIS4200 Home Page";
}

<div class="jumbotron">
    <h1>Drew Dymarkowski</h1>
    <p class="lead">The following is basic information about Drew Dymarkowski.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>
            I was born in Toledo, Ohio on March 7, 1997 and have stayed there since. 
        </p>
        <p><a class="btn btn-default" href="https://toledo.oh.gov/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>College Life</h2>
        <p> Example pages for </p>
        <br />
        @Html.ActionLink("Doctor", "Index", "Doctors")
        <br />
        @Html.ActionLink("Patient", "Index", "Patients")
        <br />
        @Html.ActionLink("Appointment", "Index", "Appointments")

    </div>
    <div class="col-md-4">
        <h2>Post Grad</h2>
        <p>I am currently in the interviewing process and have not decided on a job yet. I would like to move out west, preferably to the Denver area.</p>
        
    </div>
</div>