@{
    ViewBag.Title = "About Drew Dymarkowski";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a double major in MIS and Marketing at Ohio University who plans on graduating this fall. I am a member of the consumer research center and an alumnus of the Phi Kappa Psi Fraternity.I currently work at The J Bar on campus and have for the last 2 years. I plan on moving out west after graduation, preferably to Denver.</p>
