@{
    ViewBag.Title = "Contact Drew";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Waterford Village Drive<br />
    Toledo, OH 43560<br />
    <abbr title="Phone">P:</abbr>
    419.829.2908
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ad694414@ohio.edu">drew@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:drewdymarkowski@example.com">dymarkowski@example.com</a>
</address>